/* header */
header {
    background: url(images/adoption-header.jpg) 0 -200px no-repeat;
    background-size: 1500px;
    height: 100px;
    padding-top: 100px;
    padding-left: 100px;
    font-weight: 800;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(6, 1, 83);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* Navigation */
.main-menu {
    list-style-type: none;
    width: 1500px;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    font-weight: 400;
    background-color: rgb(179, 224, 255);
    border: 1px solid black;
    
}
.main-menu ul li {
    display: inline;
    padding: 10px 50px 10px 50px;
    text-transform: uppercase;
    font-size: 14px;
    height: 50px;
    margin-left: 50px;
}
.main-menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.main-menu ul li a:hover {
    color:rgb(36, 1, 1)
}
.main-menu ul li.active {
    border: 2px solid black;
    text-decoration: underline;
}

/* Main */
main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px 0 100px 100px;
}
h1, h2 {
    color:rgb(6, 1, 83);
    font-weight: bold;
}
p {
    color:rgb(6, 1, 83);
}
#gallery-photos img {
    border: 2px solid black;
    margin: 25px 25px 0 0;
}

/* Table */
table {
    width: 1000px;
    margin: 50px 0 0 0;
}
caption {
    background:rgb(120, 141, 155);
    border: solid 1px black;
    height: 40px;
    color: black;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
}
thead {
    background: grey;
}
tbody {
    background: lightgrey;
    text-align: center;
}
th, td {
    width: 225px;
    height: 75px;
    vertical-align: middle;
    border: solid 1px black;
}
td:first-child {
    font-weight: bold;
    background:rgb(120, 141, 155);
}

/* footer */
footer {
    width: 100%;
    height: 50px;
    padding: 25px;
    background-color:rgb(179, 224, 255);
}

/* form */
fieldset {
    border: 1px solid rgb(6, 1, 83);
}
legend {
    display: block;
    margin: 15px 0 0 0;
    font-weight: 600;
    color: rgb(6, 1, 83);
    text-transform: uppercase;
}
label {
    display: block;
    margin: 15px 0 0 0;
}
input {
    width: 300px;
}
input[type="radio"] {
    width: 25px;
}
textarea {
    width: 300px;
    height: 150px;
}
input[type="submit"] {
    display: block;
    margin: 20px 0 10px 0;
    width: 100px;
}